init-author-name = zenheart # 初始化默认作者
init-author-email =  register@zenheart.site # 默认邮箱
init-author-url = http://blog.zenheart.site # 默认主站

; 打开此注释可实现自定 init,详见 https://github.com/npm/promzard 
; init-module = ./init.js